{% extends 'base.html' %}
{% block title %}登录{% endblock %}
{% block main %}
     <div style="width: 300px " class="m-auto">
            <h1 class="p-3">登录</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="text-start d-block">Email</label>
                <input type="email" name="email" class="form-control" placeholder="email">
            </div>
            <div class="mb-3">
                <label class="text-start d-block">密码</label>
                <input type="password" name="password" class="form-control" placeholder="密码">
            </div>
            <div class="mb-3">
                   <div class="form-check">
              <input class="form-check-input" type="checkbox" name="remeber" value="True" id="flexCheckDefault">
                <label class="form-check-label text-start d-block" for="flexCheckDefault">
                默认记住
              </label>
            </div> 
            </div>  
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100">登录</button>
            </div>

            
        </form>
        </div>

{% endblock %}