{% extends 'base.html' %}

{% block title %}发布{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'highlight/styles/github-dark.min.css' %}">
    <script src="{% static 'highlight/highlight.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
    <script src="{% static 'js/public_base.js' %}"></script>
    <link
      href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css"
      rel="stylesheet"
    />


<style>
  #editor—wrapper {
    border: 1px solid #ccc;
    z-index: 100; /* 按需定义 */
  }
  #toolbar-container {
    border-bottom: 1px solid #ccc;
  }
  #editor-container {
    height: 500px;
  }
</style>
{% endblock %}
{% block main %}
            <h1 class="p-3"> 博客发布</h1>
        <div class="p-3">
            <form action="" method="post">
            {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">标题</label>
                    <input type="text" class="form-control" name="title" placeholder="请输入标题">
                </div>
               <div class="mb-3">
                    <label class="form-label">分类</label>
                   <select name="category" class="form-select" id="category-select">
                       {% for category in categories %}
                           <option value="{{ category.id }}">{{ category.name }}</option>
                       {% endfor %}
                   </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">内容</label>
                            <div id="editor—wrapper">
          <div id="toolbar-container"><!-- 工具栏 --></div>
          <div id="editor-container"><!-- 编辑器 --></div>
        </div>
                </div>
                <div class="mb-3 text-end">
                    <button type="submit" class="btn btn-primary " id="submit-up">发布</button>
                </div>
            </form>
        </div>
    <script>
        hljs.highlightAll();
    </script>
{% endblock %}